/* Element width */

.width-20px {
  min-width: 20px;
  max-width: 20px;
  width: 20px;
}

.width-50px {
  min-width: 50px;
  max-width: 50px;
  width: 50px;
}

.width-60px {
  min-width: 60px;
  max-width: 60px;
  width: 60px;
}

.width-80px {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}

.width-100px {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
}

.width-120px {
  min-width: 120px;
  max-width: 120px;
  width: 120px;
}

.width-150px {
  min-width: 150px;
  max-width: 150px;
  width: 150px;
}

.width-200px {
  min-width: 200px;
  max-width: 200px;
  width: 200px;
}

.width-360px {
  min-width: 360px;
  max-width: 360px;
  width: 360px;
}

/* Text */

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}