/* Imports */
/* Note: only import what is needed */

@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
@import 'node_modules/bulma/sass/utilities/functions.sass';
@import 'node_modules/bulma/sass/utilities/derived-variables.sass';
@import 'node_modules/bulma/sass/helpers/color.sass';
@import 'node_modules/bulma/sass/utilities/mixins.sass';
@import 'node_modules/bulma/sass/helpers/typography.sass';

/* Element width */

.width-20px {
  max-width: 20px;
  min-width: 20px;
  width: 20px;
}

.width-50px {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
}

.width-60px {
  max-width: 60px;
  min-width: 60px;
  width: 60px;
}

.width-80px {
  max-width: 80px;
  min-width: 80px;
  width: 80px;
}

.width-100px {
  max-width: 100px;
  min-width: 100px;
  width: 100px;
}

.width-120px {
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}

.width-150px {
  max-width: 150px;
  min-width: 150px;
  width: 150px;
}

.width-200px {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}

.width-250px {
  max-width: 250px;
  min-width: 250px;
  width: 250px;
}

.width-300px {
  max-width: 300px;
  min-width: 300px;
  width: 300px;
}

.width-360px {
  max-width: 360px;
  min-width: 360px;
  width: 360px;
}

/* Element height */

.height-50px {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
}

/* Text */

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Note: Manually add height to elements using this class. default 1.5rem
.vertical-scroll {
  max-height: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal;
}

// Adds a shadow to scrollable boxes if there is an option to scroll down or up
.scrollbox-shadowed {
  background: /* First two gradients - Shadow covers . Last two gradients - Shadows */
    linear-gradient(rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;

  /* Some browsers don't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
}

.overflow-anywhere {
  overflow-wrap: anywhere;
}

.is-vcentered {
  vertical-align: middle;
}

/* Buttons */

.add-button:hover {
  @extend .has-text-dark;
}

.remove-button:hover {
  @extend .has-text-danger;
}

/* Pseudo elements */

.suffix::after {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.seconds-suffix::after {
  @extend .is-size-7;
  content: 'seconds';
}

/* Bulma enhancement */

// Equivalent to 'has-text-light'
$color-light: hsl(0, 0%, 96%);

.columns-divided {
  > .column {
    border-right: solid 2px $color-light;
  }

  > .column:last-child {
    border-right: 0;
  }
}

.dropdown-menu {
  .dropdown-content {
    @extend .scrollbox-shadowed;
    @extend .vertical-scroll;
    max-height: 12rem;
  }
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.card .content {
  font-size: 14px;
}

.button.is-light.is-focused,
.button.is-light:focus {
  border-color: #3273dc;
}
