name: Publish docker images

on:
  push:
    branches:
      - master
    paths:
      - 'curiefense/**'

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build and push the images
        run: |
            docker login -u "${{ secrets.DOCKER_HUB_USER }}" -p "${{ secrets.DOCKER_HUB_PASSWORD }}"
            pushd curiefense/images
            export DOCKER_TAG=$(echo ${GITHUB_REF#refs/heads/})
            PUSH=1 ./build-docker-images.sh
